.program-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 2%;
  }

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

label {
  margin-top: 20px;
  font-size: 1.2rem;
}

select,
input[type="datetime-local"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.2rem;
}

select:focus,
input[type="datetime-local"]:focus {
  outline: none;
  border-color: #8246af;
}
