nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    /* color: white; */
    align-items: center;
    /* border: 1px solid rgba(126, 28, 118, 0.788); */
}

.logo img {
    border-radius: 0px;
    /* object-fit: cover; */
    /* max-height: 150px; */
    width: 50%;
}

/* .nav-under-logo {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
    align-items: top;
} */

.nav-links {
}

.nav-links a { 
    padding: 8px 12px;
    color: #8246af;
    font-weight: 500;
    margin: 0.5rem;
    /* border-radius: 5px; */
    /* border: 1.1px solid white; */
    text-decoration: none;
}

.nav-links a:hover {
    color: #1A1C6F;
    border: 1.5px solid #8246af;
    /* font-weight: 600; */
    /* background-color: yellow; */
    /* transform: scale(3); */
}

/* .nav-links a:visited { color: yellow;} */

/* .login {  */
    /* padding: 10px;
    color: white;
    margin: 0.5rem;
    border-radius: 5px;
    border: 1px solid white;
} */
.login a { 
    padding: 8px 12px;
    color: #1A1C6F;
    font-weight: 500;
    /* background-color: white; */
    margin: 0.5rem;
    border-radius: 5px;
    border: 1.1px solid white;
    color: white; 
    text-decoration: none;
}

/* .login a:visited { color: yellow;} */
.login a:hover { 
    /* color: yellow; */
    /* border: 1px solid yellow; */
    color: #1A1C6F;
    border: 1.5px solid yellow;
    /* font-weight: 600; */
    background-color: yellow;
    /* transform: scale(3); */
}

.sign-out {
    padding: 8px 12px;
    color: #1A1C6F;
    font-weight: 500;
    /* background-color: white; */
    margin: 0.5rem;
    border-radius: 5px;
    border: 1.1px solid white;
    /* color: white;  */
    text-decoration: none;
}

.sign-out:hover {
        /* color: yellow; */
    /* border: 1px solid yellow; */
    color: #1A1C6F;
    border: 1.5px solid yellow;
    /* font-weight: 600; */
    background-color: yellow;
    /* transform: scale(3); */
}