.mentor-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 30px; */
  padding: 2%;
}

#mentor-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-evenly; */ /*doesn't look great but missing phone */
  width: 100%;
  margin-bottom: 20px;
  padding: 1%;
}

.location-inputs,
.recruitment-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: fit-content;
  margin-bottom: 20px;
  padding: 1%;
}
.contact-inputs label,
.location-inputs label,
.recruitment-inputs label,
.container label {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  color: #8246af;
  text-decoration: none;
}

.contact-inputs input,
.contact-inputs select,
.location-inputs select,
.recruitment-inputs select {
  min-width: 45%;
  /* height: 40px; */
  padding: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: none;
  font-size: 1rem;
  color: black;
  font-family: Raleway;
}

.location-inputs select {
  width: fit-content; /* for the location drop down work around */
}

.location-inputs {
  /* getting location drop down to sit better in inputs-block */
  padding: 0%;
  flex-direction: column;
}

.recruitment-inputs #session {
  height: 200px; /* for the session scroll work around to make higher than others*/
  min-width: 100%;
}
.contact-inputs input:hover,
.contact-inputs select:hover {
  outline: none;
  box-shadow: 0 0 5px 0 #8246af;
}

.inputs-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* width: 100%; */
  margin-bottom: 20px;
  padding: 1%;
  gap: 15px; /* this needs to be px otherwise labels in .container get squished*/
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2%;
  margin-bottom: 4%;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container label {
  margin-right: 20px;
}

/*mobile*/
@media screen and (max-width: 670px) {
  .mentor-form {
    padding: 5%;
  }

  #mentor-form {
    width: 100%;
  }

  .contact-inputs,
  .location-inputs,
  .recruitment-inputs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .contact-inputs input,
  .contact-inputs select,
  .location-inputs select,
  .recruitment-inputs select,
  .recruitment-inputs textarea {
    min-width: 100%;
    margin-bottom: 10px;
  }

  .recruitment-inputs #session {
    height: 150px;
  }

  .container {
    flex-direction: column;
  }

  .container div {
    flex-direction: row;
    padding: 10px;
    justify-content: flex-end;
  }
  .inputs-block {
    flex-direction: column;
    padding: 10px;
  }

  .recruitment-inputs #payment_type,
  .recruitment-inputs #current_step {
    max-width: 80%;
  }
  .recruitment-inputs #session {
    max-width: 120%;
  }
}

/*tablet*/
@media screen and (min-width: 671px) and (max-width: 768px) {
  .mentor-form {
    padding: 5%;
  }

  #mentor-form {
    width: 100%;
  }

  .contact-inputs,
  .location-inputs,
  .recruitment-inputs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .contact-inputs input,
  .contact-inputs select,
  .location-inputs select,
  .recruitment-inputs select,
  .recruitment-inputs textarea {
    min-width: 100%;
    margin-bottom: 10px;
  }

  .recruitment-inputs #session {
    height: 150px;
  }

  .container {
    flex-direction: row;
    width: fit-content;
  }
}
