.mentor-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 2%;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
  padding: 1%;
}

.contact-inputs label,
.container label {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  color: #8246af;
  text-decoration: none;
}

.contact-inputs input,
.contact-inputs select {
  width: 45%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: none;
  font-size: 1rem;
  color: black;
}

.contact-inputs select {
  width:fit-content;   /* for the location drop down work around */
}
.contact-inputs input:hover,
.contact-inputs select:hover {
  outline: none;
  box-shadow: 0 0 5px 0 #646cff;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2%;
  margin-bottom: 4%;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container label {
  margin-right: 20px;
}

/* .contact-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2%;
} */

/* #mentor_creation_form {
  color: purple;
}

#mentor_info_banner {
  display: flex;
  justify-content: space-evenly;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-content: space-around;
}

.container_column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#container_radio {
  display: flex;
  flex-direction: row;
}

.container_label {
  display: block;
  padding-left: 50px;
  position: relative;
  padding-left: 60px;
}
.container_label_input {
  display: none;
  background: rgb(96, 96, 99);
}
.container_label_span {
  border: 1px solid #ccc;
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hidden;
  line-height: 1;
  text-align: center;
  border-radius: 100%;
  font-size: 35pt;
  left: 0;
  top: 50%;
  margin-top: -7.5px;
  background: rgb(96, 96, 99);
  padding: 50px;
}
.container_label_input:checked + span {
  background: purple;
  border-color: rgb(96, 96, 99);
}

#purple_background {
  background-color: purple;

  display: flex;
}

#white_background {
  background-color: white;
  border-radius: 40px;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: space-around;
}

.purple_container {
  background-color: rgb(222, 159, 222);
  color: white;
  min-height: 150px;
} */
