.user-card {
    min-height: 50px;
    max-height: 700px;
    min-width: 100px;
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  table#user-card {
    border-spacing: 10px 10px;
    margin: 10px auto;
    border-collapse: separate;
    max-width: 600px;
    float: left;
  }

/* td {
    text-align: start;
} */

.user-item-description {
    margin: 10px 0;
    border-radius: 8%;
    padding: 10px;
    background-color: #F7F7F9;
    text-align: left;
  }

.user-item-label {
    color: #8246AF;
    padding-right: 50px;
    text-align: left;
}

table#user-card th,
table#user-card td {
  border-bottom: none;
  padding: 10px;
}