#purple_background {
  background-color: #8246af;
  display: flex;
}

#white_background {
  background-color: white;
  border-radius: 40px;
  padding: 70px 150px; /* Decrease the padding to make the white sheet narrower */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
}

.logo {
  color: #8246af;
  font-weight: bold;
  font-size: 1.5rem; /* Increase the font size of the logo */
}

.login_form button {
  margin: auto;
  background-color: #ffa300;
  border: none;
  border-radius: 15px; /* increases/decreases border rounding */
  color: white;
  font-size: 13px;
  padding: 0.5rem 1rem;
}

/* .login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
} */

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}

.login_form input[type="text"],
.login_form input[type="password"] {
  background-color: #f2f2f2;
  border: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: black;
}

.login_form input[type="text"]:focus,
.login_form input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 5px 0 #8246af;
}

.form_field {
  display: flex;
  width: 100;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.form_field input[type="submit"]:hover {
  background-color: #ffa300;
}
