body {
  margin: 0;
}

#purple_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Set the height to fill the entire viewport i.e. screen*/
  background-color: #8246af;
}

#white_background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: space-around;
  margin: 0 10px; /* center form */
  padding: 10px;
  width: 60%;
  max-width: 700px; /* Add a max width for form */
  height: 50vh;
  background-color: white;
  margin-bottom: 20px;
}

#login-header {
  padding: 20px;
  text-align: center;
  color: white;
  text-decoration-color: #8246af;
}

#login-header h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 0px;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0 5rem; /* add some margin between the form and the logo */
}

.login_form input[type="text"],
.login_form input[type="password"] {
  width: 100%; /* set the input width to 100% */
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: black;
  background-color: #f2f2f2;
  border: none;
}

.login_form input[type="text"]:focus,
.login_form input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 5px 0 #646cff;
}

.form_field {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.form_field input {
  padding: 0.5rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.button > button {
  background-color: #ffa300;
  border: none;
  border-radius: 50%;
  color: white;
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.button > button:hover {
  background-color: #ffa300;
}
