/* CLAIRE */

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 1rem;
  }
  
  h1 {
    font-size: 2rem;
  }
  
.create-button {
  background-color: #8246af;
  color: #fff;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

/* .mentors-list-page table {
  width: 100%;
} */

.page-content list {
  /* text-align: left; */
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #8246af;
  padding-left: 1rem;
}

.mentors-list-table>tr>td a {
  text-decoration: none;
  color: #8246af;
}

.mentors-list-table>tr>td a:hover {
  /* border: 1px solid #8246af; */
  /* font-weight: 600; */
  color: #8246af;
}
