.title-program-name {
  color: #8246af;
  margin: 1rem auto;
  /* margin-bottom: -20px; */
  /* margin-top: 1rem; */
}

.program-information-container {
  background-color: whitesmoke;
  padding: 1rem;
  /* width: 100%; */
  /* text-align: center; */
}

.program-information-container-table {
  /* background-color: whitesmoke;
  padding: 1rem; */
  width: 100%;
  text-align: left;
}

.progress-bar {
  width: 80vw;
  /* margin-top: 15px; */
  padding-top: 25px;
  /* height: 100px; */
}

.progress-bar-container {
  /* height: 100px; */
  background-color: none;
  /* width: 91vw; */
  height: 5vw;
  /* padding: -20px; */
  /* height: 100px; */
  /* margin: -25px; */
  margin: 0 auto;
  /* vertical-align: middle; */
}
