/* CLAIRE */

.page-content list {
  text-align: left;
  /* text-align: center; */
  font-size: 24px;
  font-weight: bold;
  color: #8246af;
  padding-left: 1rem;
}

/* .list-header {
  text-align: justify;
  color: white; /* or 8246af*/
  /* padding-right: 1rem; */
  /* padding-left: 1rem; */
/* } */

.list-header {
  text-align: center;
  color: #8246af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 1rem;
}

.create-button {
  background-color: #8246af;
  color:white

}

th {
  color: #8246af;
}

/* .session-list table {
  width: auto;
} */

.sessions-list-table>tr>td a {
  text-decoration: none;
  color: #8246af;
}

.sessions-list-table>tr>td a:hover {
  /* border: 1px solid #8246af; */
  /* font-weight: 600; */
  color: #8246af;
}

.hide{
  display: none;
}

/* Media query for small screens */
/* @media screen and (max-width: 690px) {
  td {
    display: block;
    width: 100%;
    border: none;
  }
  th{
    display: none;
  }
  tr {
    border-bottom: 1px solid #ddd;
}
} */

/* Media query for small screens */
@media screen and (max-width: 690px) {
  
  .hide2{
    display: none !important;
  }
  table#sessions-table td {
    display: block;
    width: 100%;
    border: none;
    text-align: center;
  }
  table#sessions-table th{
    display: none;
  }
  table#sessions-table tr {
    border-bottom: 1px solid #ddd;
}

  #session-name, #session-date, #program-name {
    font-weight: bold;
  }

}