/* SAM */
.section-header {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: #8246af;
  padding-left: 1rem;
  /* margin: 0 0 20px 0; */
}

.container-session-details {
  background-color: whitesmoke;
  padding: 2rem;
}

.container-mentor-details {
  background-color: whitesmoke;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.heading-color {
  color: #8246af;
  /* padding-top: 50px; */
  /* margin-bottom: -20px; */
  margin: 1rem auto;
  padding: 1rem;

}

.sub-header {
  text-align: left;
  color: #8246af;
  padding-right: 1rem;
  padding-left: 1rem;
}

.mentor-info-header {
  color: #8246af;
}

a {
  text-decoration: none;
  color: #8246af;
}

a:hover {
  color: #F9A426;

}

th {
  color: #8246af;
}


.mentor-table>tr>td a {
  text-decoration: none;
  color: #8246af;
}

.mentor-table>tr>td a:hover {
/* border: 1px solid #8246af; */
/* font-weight: 600; */
  color: #F9A426;
  /* color: #8246af; */
}

