@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");

.header-layout {
  display: flex;
  flex-direction: column;
  background-color: #8246af;
  align-items: center;
  width: 100%;
  max-width: 1800px;
}

body {
  font-family: Raleway;
  color: black;
  text-align: center;
}

.logo {
  width: 40%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  /* padding: 50px 30px 50px 30px; */
  margin: 50px 100px;
  background-color: white;
}

.section-container-grey {
  background-color: #f9f8f7;
  border-radius: 40px;
  width: 100%;
  margin: 15%;
  padding: 2%;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  max-width: 200px;
  width: 200px;
} */
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
